
#encabezado{
     position: absolute;
     top: 0;
     left: 0;
     height: 8%;
     width: 100%;
     background-color: #496D8D;
     color: white;
     padding-left: 15px;
 }

 #encabezado h1{
     display: inline;
 }

 .descripcion{
     font-size: 18px;
 }

 #menu{
     position: absolute;
     top: 8%;
     left: 0;
     height: 4%;
     width: 100%;
     background-color: #ccccff;
     color: black;
 }

 #menu a:visited{  
     color: navy;
 }

 #menu a:hover{     
     background-color: green;
     color: white;
 }

 #barraLateral{
     position: absolute;
     top: 12%;
     left: 0;
     height: 81%;
     width: 20%;
     background-color: #cccccc;
     color: black;
 }


 #contenido{
     position: absolute;
     top: 12%;
     left: 20%;
     height: 81%;
     width: 80%;
     background-color: #ffcccc;
     color: black;
     overflow: auto;
 }

 #piePagina{
     position: absolute;
     bottom: 0;
     left: 0;
     height: 7%;
     width: 100%;
     background-color: #cccccc;
     color: black;
     text-align: center;
 }

 .lineaDireccion{
     display: inline;
 }

 #encabezadoTabla{
     font-size: 20px;
     background-color: blue;
     color:yellow;
 }

 #tablaResumen tr{
     font-size: 25px;
 }

 #tablaResumen tr:nth-child(odd){
     background-color: coral;
     color:whitesmoke;
 }

 #tablaResumen tr:nth-child(even){
     background-color: white;
     color:darkmagenta;
 }
