.header {
    position: fixed;
    font-family: sans-serif;
    font-size: 26px;
    top: 0;
    left: 0;
    height: 10%;
    background-color: #243b55;
    width: 100%;
    color: white;
}

.cuerpo {
    position: fixed;
    left: 0;
    padding-left: 5px;
    top: 10%;
    height: 65%;
    width: 100%;
    background-color: lavender;
    overflow: auto;
}

.piePagina {
    position: fixed;
    bottom: 0;
    left: 0%;
    height: 25%;
    width: 100%;
    background-color: #243b55;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

