.nav {
    padding-left: 40px;
    padding-top: 10px;
    float: left;
}

.nav-list {
    list-style: none;
    margin-left: 60px; 
    float: left;
    padding-right: 50px;
    margin: -12px;
}

.item-li {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
}

.item-li:hover {
    background-color: darkcyan;
    transition: .25s;
}

.chatAyuda {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 20px;
}
